@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html,
body {
  font-size: 28px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
}

summary {
  list-style: none;
}
summary::marker {
  content: "";
}

p,
span,
h4,
ul,
li {
  font-weight: 400;
  font-size: 16px;
}

li:hover, summary:hover {
  cursor: pointer;
}

.joined {
  font-size: 11px;
}

button {
  cursor: pointer;
  font-size: 16px;
}

img[src*="arrow"],
.arrow-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}

a[href*="https://facebook.com"]:hover, a[href*="https://x.com"]:hover, img[src*="arrow"]:hover {
   filter: brightness(0) saturate(100%) invert(47%) sepia(11%) saturate(2986%) hue-rotate(314deg) brightness(103%) contrast(103%);
}

.hero-img::after {
  content: "";
  display: block;
  width: clamp(24.0625rem, 11.9407rem + 102.9197vw, 48.5rem);
  height: clamp(6.685rem, 4.1859rem + 24.2628vw, 22rem);
  border-radius: calc(clamp(6.3425rem, 2.09295rem + 18.1314vw, 11rem) / 2);
  background-color: var(--color-blue-600);
  position: absolute;
  top: 235px;
  left: 115%;
  transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero-img::after {
    top: 180px;
  }
}

@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-blue-600: hsl(231, 69%, 60%);
  --color-red-400: hsl(0, 94%, 66%);
  --color-grey-50: hsl(0, 0%, 97%);
  --color-blue-950: hsl(229, 31%, 21%);
}
