@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html,
body {
  font-size: 28px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 500;
}

p,
span {
  font-weight: 400;
  font-size: 16px;
}

button {
  cursor: pointer;
  font-size: 16px;
}

@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-blue-600: hsl(231, 69%, 60%);
  --color-red-400: hsl(0, 94%, 66%);
  --color-grey-50: hsl(0, 0%, 97%);
  --color-blue-950: hsl(229, 31%, 21%);
}
